@import 'tailwindcss';

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: rgba(18, 166, 166, 0.5); /* Ana renk #12a6a6 with opacity */
  border-radius: 10px;
  transition: background 0.2s ease;
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(18, 166, 166, 0.8);
}

/* For Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: rgba(18, 166, 166, 0.5) rgba(0, 0, 0, 0.1);
}
